@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the dealership sales Application</h1>
    <p>Sign in at the top to so you can get started working with your clients.</p>
    <p>After you get signed in you can select a page on the left side of the screen.</p>
</div>

<div class="row">

    <div class="col-md-4">
        <p>Store your client's information so you have access to their contact later. </p>
    </div>

    <div class="col-md-4">
        <p>Keep track of all of the vehicles you have access to on your lot(s).</p>
    </div>
    <div class="col-md-4">
        <p>Keep track of your employees and their position in your company.</p>
    </div>

</div>